trigger: none

pool: Default

stages:
  - stage: initvalidateplan
    displayName: init validate and plan
    jobs:
      - job: initvalidateplanjob
        displayName: init validate and plan job
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'

        - task: TerraformTask@5
          displayName: terraform init
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)environments/dev'
            backendAzureRmUseEntraIdForAuthentication: false
            backendServiceArm: 'First_service_connection'
            backendAzureRmResourceGroupName: 'satish_rg111'
            backendAzureRmStorageAccountName: 'satishstg111222'
            backendAzureRmContainerName: 'newcontainer'
            backendAzureRmKey: 'infra_pipeline.tfstate'

        - task: TerraformTask@5
          displayName: terraform validate
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: '$(System.DefaultWorkingDirectory)environments/dev'
        
        - task: TerraformTask@5
          displayName: terraform plan
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)environments/dev'
            environmentServiceNameAzureRM: 'First_service_connection'

  # - stage: 
  #   jobs:
  #     - job: 
  #       steps:
  #         - 