trigger: none

pool: satishagent

stages:
  - stage: initvalidateplan
    displayName: init validate and plan
    jobs:
      - job: initvalidatejob
        displayName: init validate and plan job
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'

        - task: TerraformTask@5
          displayName: terraform init
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
            backendAzureRmUseEntraIdForAuthentication: false
            backendServiceArm: 'serviceconnection-2'
            backendAzureRmResourceGroupName: 'satishrg19'
            backendAzureRmStorageAccountName: 'satishstorage19'
            backendAzureRmContainerName: 'pipelinecontainer'
            backendAzureRmKey: 'infra_pipeline.tfstate'

        - task: TerraformTask@5
          displayName: terraform validate
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
        
      # - job: terraformplanjob
      #   displayName: terrraform plan
      #   steps: 

        - task: TerraformTask@5
          displayName: terraform plan
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
            environmentServiceNameAzureRM: 'serviceconnection-2'

  - stage: scaningtools
    displayName: trivy tflint and checkov
    jobs:
      - job: trivyjob
        displayName: trivy
        # steps:
        # - task: tfsec@1
        #   inputs:
        #     version: 'v1.26.0'
        #     dir: '$(System.DefaultWorkingDirectory)/environments/dev'

      - job: tflintjob
        displayName: tflint
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              tflint
            workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'

        # - task: PublishTestResults@2
        #   inputs:
        #     testResultsFormat: 'JUnit'
        #     testResultsFiles: '**/TEST-*.xml'
        #     testRunTitle: 'tflint scan'
        #     failTaskOnFailedTests: false
            
      # - job: checkovjob
      #   displayName: checkov
      #   steps:
      #   - task: PowerShell@2
      #     continueOnError: true
      #     inputs:
      #       targetType: 'inline'
      #       script: 'checkov -d .'
      #       workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'

  - stage: findops
    displayName: infracosttool
    jobs:
      - job: infracostjob
        displayName: infracost
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
            backendServiceArm: 'First_service_connection'
            backendAzureRmResourceGroupName: 'satish_rg111'
            backendAzureRmStorageAccountName: 'satishstg111222'
            backendAzureRmContainerName: 'newcontainer'
            backendAzureRmKey: 'infra_pipeline.tfstate'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
            environmentServiceNameAzureRM: 'First_service_connection'

        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              infracost auth login --ci
              infracost breakdown --path '$(System.DefaultWorkingDirectory)/environments/dev'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'


